
*.pyc
*.map
*.dblite
*.elf
*.bin
*.hex
*.axf
*.htm
*.build_log.htm
*.dep
*.crf
*.exe
*.pdb
*.idb
*.ilk
*.uvguix.*
OBJ
build
Debug
documentation/html
*~
*.o
*.obj
*.bak
*.dep
*.lib
*.a
*.i
*.d
*.px4
*.sconsign.dblite
.sconsign.dblite
*.pyc
*.bin
*.map
.cproject
.project
.vscode/
.settings/
.idea/
./GPSdata
cmake-build-debug/
